.header{
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    height: 120px;
    border-bottom: 3px solid #f15467;
    background-color: white;
}
.header img{
    margin-top: 29px;
    margin-left: 50px;
}
.header-nav{
    position:absolute;
    top: 0;
    right: 0;
    left: 300px;
    padding-right: 3%;
    min-width: 600px;
    width: 70%;
    height: 120px;
    font-size: 10px;
    color: #818181;
    line-height: 120px;
}
.header-nav a{
    display: inline-block;
    width:15%;
    text-align: center;
    font-size: 18px;
    color: #818181;
}
.header-nav a:hover{
    text-decoration:underline ;
}
.header-nav .active{
    color: #f15467;
    font-weight: 700;
}
/*header-end*/